## 1. import , read
Pandas 패키지를 Import 하고 실습 데이터 파일(Ecommerce Purchases)을 read 하세요.  
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [1]:
import pandas as pd

In [34]:
ecom = pd.read_csv('Ecommerce Purchases')

In [35]:
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## DataFrame 의 앞부분과 뒷부분 확인하여, 데이터 생긴 거 미리보기

In [4]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [5]:
ecom.tail(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## .info()
몇 개의 컬럼과 행이 있는지 확인해보기

In [6]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [7]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [12]:
#범주형 데이터도 통계에 속하도록
# unique 값의 종류 개수
ecom.describe(include = 'all')

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
count,10000,10000,10000,10000,10000,1.000000e+04,10000,10000.000000,10000,10000,10000,10000,10000,10000.000000
unique,10000,9822,2,8287,8653,NaN,121,NaN,10,9954,623,10000,9,NaN
top,"404 Garcia Harbor\nWilliamschester, CT 05967-4705",65 gy,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Brown Ltd,NaN,08/22,NaN,JCB 16 digit,cbrown@gmail.com,Interior and spatial designer,58.58.214.155,de,NaN
freq,1,2,5068,12,15,NaN,108,NaN,1716,2,31,1,1155,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.341374e+15,NaN,907.217800,NaN,NaN,NaN,NaN,NaN,50.347302
std,NaN,NaN,NaN,NaN,NaN,2.256103e+15,NaN,1589.693035,NaN,NaN,NaN,NaN,NaN,29.015836
min,NaN,NaN,NaN,NaN,NaN,6.040186e+10,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,3.056322e+13,NaN,280.000000,NaN,NaN,NaN,NaN,NaN,25.150000
50%,NaN,NaN,NaN,NaN,NaN,8.699942e+14,NaN,548.000000,NaN,NaN,NaN,NaN,NaN,50.505000
75%,NaN,NaN,NaN,NaN,NaN,4.492298e+15,NaN,816.000000,NaN,NaN,NaN,NaN,NaN,75.770000
max,NaN,NaN,NaN,NaN,NaN,6.012000e+15,NaN,9993.000000,NaN,NaN,NaN,NaN,NaN,99.990000

In [14]:
ecom['AM or PM'].unique()

array(['PM', 'AM'], dtype=object)

## .mean()
평균 구매 가격(Purchase Price) 확인하기

In [ ]:
ecom.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

In [ ]:
ecom.mean(axis=1)

0       2.003976e+15
1       1.112586e+15
2       2.253192e+11
3       2.003860e+15
4       2.003819e+15
5       1.008206e+13
6       2.003800e+15
7       1.870840e+11
8       6.001393e+13
9       1.465428e+12
10      6.001214e+13
11      2.899917e+14
12      1.705330e+15
13      1.534545e+15
14      2.899892e+14
15      6.002315e+13
16      2.253737e+11
17      1.112505e+15
18      2.003783e+15
19      2.254478e+11
20      2.003944e+15
21      1.830418e+15
22      1.052888e+15
23      1.673367e+11
24      1.583243e+15
25      2.899793e+14
26      2.016281e+10
27      2.899827e+14
28      6.000883e+13
29      1.390245e+15
            ...
9970    2.003829e+15
9971    1.786554e+15
9972    1.235300e+14
9973    1.672836e+11
9974    2.101358e+11
9975    1.787199e+15
9976    1.486332e+15
9977    1.395365e+15
9978    1.029395e+15
9979    1.155783e+14
9980    2.003981e+15
9981    1.563621e+12
9982    7.001366e+13
9983    1.146189e+14
9984    1.029403e+15
9985    2.003755e+15
9986    1.406961e+15
9987    6.000910e+13
9988    1.402431e+15
9989    1.759350e+15
9990    2.899894e+14
9991    1.407194e+15
9992    1.554942e+15
9993    1.000852e+13
9994    1.037396e+15
9995    1.143150e+14
9996    7.001106e+13
9997    2.003847e+15
9998    6.000112e+13
9999    1.379991e+15
Length: 10000, dtype: float64

In [ ]:
ecom.mean(axis=0)

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64


### 문제1. 구매 가격(Purchase Price)의 최대값, 최소값 구하기

In [22]:
print(ecom['Purchase Price'].min(axis=0))
print(ecom['Purchase Price'].max(axis=0))

0.0
99.99

### 문제2. (문제1을 )반올림하여 구하기`

In [24]:
print(round(ecom['Purchase Price'].min(axis=0),0))
print(round(ecom['Purchase Price'].max(axis=0),0))

0.0
100.0

## .count()
웹사이트에 얼마나 많은 사람들이 언어(Language)를 English로 하는 지 알아보기

### 문제1. : # 'Language' 컬럼값이 'en' 인 데이터의 신용카드(Credit Card) 개수 세기

In [49]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [74]:
ecom[ecom['Language'] =='en']['Credit Card'].count()

1098

In [75]:
ecom.loc[ecom['Language'] =='en','Credit Card'].count()

1098

In [76]:
# 중복제거
len(ecom.loc[ecom['Language'] =='en','Credit Card'].unique())

1098

In [55]:
ecom_data_filtered = ecom[ecom['Language'].str.contains('en')]
len(ecom_data_filtered)

1098

### 문제2. : # 직업('Job')이 변호사('Lawyer')인 사람수 구하기

In [80]:
ecom[ecom['Job']=='Lawyer'].count().max()

30

In [59]:
ecom_data_filtered = ecom[ecom['Job'].str.contains('Lawyer')]
len(ecom_data_filtered)

30

## .value_counts()
### 문제1. 얼마나 많은 사람들이 오전(AM)과 오후(PM)에 구매를 하는 지 알아보기

In [60]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### 문제2. 가장 흔한 직업 상위 5개 알아보기

In [70]:
a = ecom['Job'].value_counts()
a.head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

### 문제3. 가장 흔한 직업 하위 5개 알아보기

In [83]:
a.tail()

Music therapist                7
Actuary                        6
Editor, film/video             6
Investment analyst             5
Information systems manager    5
Name: Job, dtype: int64

## specific variable values

### 문제1. '90 WT' 지역에서 구매된 거래 금액 확인하기

In [84]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [86]:
ecom.loc[ecom["Lot"] == '90 WT','Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### 문제2. 신용카드번호 4926535242672853 이용자의 이메일 주소 찾기

In [89]:
ecom.loc[ecom['Credit Card']==4926535242672853,'Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

## 'And' or 'Or'
### 문제1. 얼마나 많은 사람들이 American Express 카드로 95달러 초과로 결제하는 지 알아보기

In [90]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [92]:
new_ecom = ecom[ecom['CC Provider']=='American Express']
new_ecom[new_ecom['Purchase Price']>95].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [96]:
ecom[
    (ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)
].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [98]:
len(ecom[
    (ecom['CC Provider']=='American Express') | (ecom['Purchase Price']>95)
])

1315

### 문제2. 얼마나 많은 사람들이 95달러 초과로 결제하거나 10달러 미만으로 구매하는 지 알아보기

In [94]:
new_ecom = ecom[ecom['Purchase Price'] > 95]
new_ecom.append(ecom[ecom['Purchase Price']<10])
new_ecom.count()

Address             505
Lot                 505
AM or PM            505
Browser Info        505
Company             505
Credit Card         505
CC Exp Date         505
CC Security Code    505
CC Provider         505
Email               505
Job                 505
IP Address          505
Language            505
Purchase Price      505
dtype: int64

## .apply() & Lambda
얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

## 문제1. 얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

In [99]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [103]:
ecom['CC Exp Date'].apply(
    lambda x:(x.split('/')[1] == '25')
).value_counts()

False    8967
True     1033
Name: CC Exp Date, dtype: int64

In [105]:
ecom[
    ecom['CC Exp Date'].apply(
    lambda x:(x.split('/')[1] == '25')
)
].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

## Lambda & .split
### 문제1. 가장 인기있는 이메일 제공자/호스트(e.g. gmail.com, yahoo.com, etc...) 상위 5 찾아내기

In [107]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [109]:
ecom['Email Provider'] = ecom['Email'].apply(
    lambda email:email.split('@')[1]
)
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Email Provider
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,reed.com

In [110]:
ecom['Email Provider'].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email Provider, dtype: int64