# 제목1

In [4]:
print("Hello world")

Hello world

In [6]:
x = 10

In [7]:
x

10

# 1. 정수형

In [8]:
type(10)

int

In [9]:
type(10.0)

float

In [10]:
a = 2
b = 3 
a, b

(2, 3)

In [11]:
a + b

5

In [12]:
a / b

0.6666666666666666

In [13]:
a ** b

8

In [14]:
a // b

0

In [15]:
a % b

2

In [16]:
print(a + b * a)    # 8
print(
     (a+b) * a      #  10
)

8
10

In [18]:
# 연습문제

In [25]:
a, b = 7, 3.0

c = print(a // b)
d = print(a % b)

e = print(a ** b)

2.0
1.0
343.0

In [26]:
a, b = 7,3.0
type(a), type(b)

(int, float)

In [27]:
#b를 정수형으로

c = int(b)
type(c)

int

In [28]:
c

3

In [29]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

##  연습문제
세 변수의 평균을 구하고, 정수형으로 출력하라

In [43]:

mike, judy, sera = 80, 75, 100
    
mean = (mike + judy + sera)/3
mean= int(mean)
print(mean)

85

# Bool

In [44]:
a =True
a

True

In [45]:
b = False
b

False

In [46]:
type(a)

bool

# 비교 연산자

In [47]:
a, b = 1, 2

In [50]:
print(a < b)
print(a <= b)
print(a==b)
print(a!=b)

True
True
False
True

In [51]:
print(True and True)  # Trua
print(True and False) # False
print(False and False) # False

True
False
False

In [52]:
print(True or True)  
print(True or False) 
print(False or False)

True
True
False

In [53]:
a = 10
print(a>10 or a ==10) # True

True

In [54]:
not a > 10 # True

True

# 연습문제

In [ ]:
score1 = input("점수1 : ")
score2 = input("점수2 : ")
score3 = input("점수3 : ")

# NoneType

In [ ]:
a = None
a

In [ ]:
print(a)

In [ ]:
quote1 = "안녕하세요. 저는 김주희입니다."
quote1
type(quote1)

# multi line

In [56]:
quote2 = '안녕하세요. 저는 김주희입니다.'

In [57]:
quote1 = '''안녕하세요. 
저는 김주희입니다.'''

print(quote1)

안녕하세요.
저는 김주희입니다.

# 연산자

In [58]:
a = '사과'
b = '과일'

In [59]:
c = a + b
c

'사과과일'

In [60]:
a * 10

'사과사과사과사과사과사과사과사과사과사과'

# Escape code

In [61]:
quote1 = '''안녕하세요. 
저는 김주희입니다.'''

print(quote1)

안녕하세요.
저는 김주희입니다.

In [62]:
quote1

'안녕하세요. \n저는 김주희입니다.'

In [63]:
quote = '안녕하세요. \n저는 김주희입니다.' # \n 개행

In [64]:
quote2 = "\"김주희\"입니다."   # ex) 따옴표가 문자열임을 나타낼 때 
print(quote2)

"김주희"입니다.

In [65]:
quote3 = '"김주희"입니다.'

# indexing, slicing

In [76]:
quote = "안녕하세요. 김주희입니다."

In [77]:
quote[0]

'안'

In [78]:
quote[1]

'녕'

In [79]:
quote[-1]

'.'

In [80]:
quote[0:6]

'안녕하세요.'

In [81]:
quote[3:12]

'세요. 김주희입니'

In [82]:
quote[5:]

'. 김주희입니다.'

In [83]:
quote[:]  #맨처음부터 끝까지

'안녕하세요. 김주희입니다.'

In [84]:
quote[::2] #맨처음부터 끝까지, step건너뛰기

'안하요 주입다'

In [85]:
quote[::-1] #거꾸로

'.다니입희주김 .요세하녕안'

# 연습문제

In [105]:
a = "20190505chicken19000"
year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:20]
    
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

# 문자열 포맷팅

In [106]:
name = "김주희"
major = "computer"

In [110]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name,major)
intro

'안녕하세요. 김주희입니다. 전공은 computer입니다.'

In [109]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다.".format(name, major)
intro

'안녕하세요. 김주희입니다. 전공은 computer입니다.'

In [113]:
intro = "안녕하세요. {0}입니다. 전공은 {1}입니다.".format(name, major)
intro

'안녕하세요. 김주희입니다. 전공은 computer입니다.'

In [117]:
pi = 3.14159
pi_def = "PI는 %.2f입니다." %pi
pi_def

#소수점 둘째자리까지
# %f 실수형 (서식문자열 중 하나)

'PI는 3.14입니다.'

In [118]:
f"PI는 {pi}입니다."

# 중괄호에 넣기
# 아래버전과 호환 안됨.

'PI는 3.14159입니다.'

# 연습문제

In [136]:
a = "90:30:80"
math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:])
math

average = (math+english+science)/3
print("평균 점수는 {:.2f}입니다.".format(average)) # 소수점 둘째자리까지 :.f

평균 점수는 66.67입니다.

# 문자열 함수

In [138]:
quote

'안녕하세요. 김주희입니다.'

In [140]:
len(quote)    #문자열 길이

14

In [141]:
quote.index(".")   # . 이 몇 번째 인덱스에 있는지 #제일 처음만 출력함

5

In [142]:
"Apple".upper() # 대문자로 바꾸어줌

'APPLE'

In [143]:
"APPLE".lower() # 소문자로 바꾸어줌

'apple'

In [144]:
quote.replace('.','?')   # .과 ?를 바꾸어줌 # 공백을 넣으면 해당 문자를 없앰

'안녕하세요? 김주희입니다?'

In [145]:
quote.count('.')  # .의 개수

2

In [146]:
a = "    안녕하세요.   "
a # 공백제거

'    안녕하세요.   '

In [150]:
a.lstrip()  #왼쪽공백제거

'안녕하세요.   '

In [152]:
a.rstrip()   # 오른쪽공백제거

'    안녕하세요.'

In [ ]:
a.strip()   #양쪽공백제거

In [154]:
a = "90:30:80"
b = a.split(':')   # 특정문자를 구분점으로 함
b     # 데이터타입 리스트

['90', '30', '80']

In [156]:
fruit = "Apple Banana"
fruit_list = fruit.split(" ")
fruit_list# 빈칸을 기준으로 나눔

['Apple', 'Banana']

In [160]:
", ".join(fruit_list)


#특정토큰을 기준으로 조인

'Apple, Banana'

# 연습문제

In [188]:
a = "  90:30:80  "
b = a.strip()
b

score_list = b.split(':')
score_list  # 각 요소의 데이터는 string

math, english, science = score_list

math = int(math)
english = int(english)
science = int(science)

average = (math+english+science)/3
print("평균 점수는 {:.2f}입니다.".format(average))

평균 점수는 66.67입니다.

## 정답

In [195]:
# 각각 int치기 귀찮을 때 map사용
# map은 함수
# list가 아니어도 상관없음

math, english, science = list(map(int, score_list))
type(math)

avg = (math + english + science) /3
print("평균 점수는 {:.2f}입니다.".format(avg))

평균 점수는 66.67입니다.

# List

In [200]:
# 리스트 시퀀스 자료성 연속된 여러값을 변수에 저장
# 파이썬은 리스트안에 데이터타입이 달라도 됨

a = [1, 3.14, "Apple", ['a','b','c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [199]:
len(a)   #요소로써 있기 때문

4

In [ ]:
  
    # 리스트는 수정가능
    # 튜플은 수정불가능
    # 함수 내에서 이 값은 바뀌면 안된다고 명시할 때 튜플을 사용

In [201]:
b = []
type(b) # 리스트 만들기 방법1

list

In [203]:
c = list()
c    # 리스트 만들기 방법2

[]

# range

In [205]:
list(range(10))   #보기 쉽기 위해서 list로 형변환.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [206]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [207]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [208]:
list(range(3,30,3)) # 3부터 30까지 3씩 건너뜀

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [210]:
list1 = list(range(3,30,3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [212]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

# list's indexing & slicing

In [213]:
list1[0]

3

In [214]:
list1[1:5]

[6, 9, 12, 15]

In [215]:
list1[1:5:2]

[6, 12]

In [217]:
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [219]:
list1[1:4]= ['b','c','d']
list1  # 통째로 리스트 값을 바꿈

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [220]:
del list1[-1]    #슬라이스 삭제
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [221]:
# in 해당 특정요소가 list안에 속해있음을 논리형으로 확인

'a' in list1

True

In [222]:
'e' in list1   # 논리형은 조건절이나 반복절에서 주로 사용

False

In [223]:
'a' not in list1

False

In [224]:
list1 + [10, 20]   #덧셈은 연결

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [225]:
len(list1)

8

# 리스트함수

## append & extend

In [236]:
# append 요소를 받아서 해당 리스트 뒤에 요소를 추가
# extend 인자를 리스트로 받음. 실제 값이 바뀜

list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [237]:
list1.append('a')   
list1      #'a'요소 추가. 실제 값이 바뀜

[0, 1, 2, 3, 4, 'a']

In [238]:
list1.extend(['b','c'])   #요소가 인자로 리스트로 들어옴
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [234]:
# extend => +=과 동일
# list1.extend([1,2])
# list1 = list1 + [1,2]

## pop & remove

In [247]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [248]:
a = list1.pop()    # pop 꺼내고 반환한다.
print(list1)
print(a)

[0, 1, 2, 3]
4

In [249]:
b = list1.pop(1)
print(list1)   #[0, 2, 3]
print(b)   #1

[0, 2, 3]
1

In [250]:
list1

[0, 2, 3]

In [251]:
list1.remove(2)
list1            # 특정 값 삭제

[0, 3]

## insert

In [ ]:
# insert 특정 인덱스에 값 추가

In [252]:
list1

[0, 3]

In [253]:
list1.insert(1,'a')
list1

[0, 'a', 3]

## count & sort & reverse & index

In [255]:
list1 = [1, 1, 2, 2, 3, 4]
list1

[1, 1, 2, 2, 3, 4]

In [258]:
list1.count(1)         #list1에 1이 몇 게?

2

In [259]:
list1.count(3)

1

In [260]:
list1.index(2)    #2기 몇번쩨 index에 있는가?  #가장 첫번째를 반환

2

In [261]:
list1.reverse()    #순서를 거꾸로 바꿈
list1

[4, 3, 2, 2, 1, 1]

In [262]:
list1.sort()         # 오름차순 정렬
list1

[1, 1, 2, 2, 3, 4]

In [263]:
list1.sort(reverse = True)         # 내림차순 정렬
list1

[4, 3, 2, 2, 1, 1]

In [264]:
list1

[4, 3, 2, 2, 1, 1]

In [266]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [267]:
tuple1.append(3)      #튜플은 값 수정할 수 없으므로 에러

AttributeError: 'tuple' object has no attribute 'append'

### List의 복사

In [269]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [271]:
# list1을 벡업해두고 list2로 작업하고 싶을 때
# 원본데이터에 손상가지 않게 하고 싶음

list2 = list1
list2

[0, 1, 2, 3, 4]

In [274]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10, 10]

In [275]:
list1        #list1의 값도 바뀌어 있음.

['a', 1, 2, 3, 4, 10, 10]

In [276]:
a = 10
b = a
a, b

(10, 10)

In [278]:
b = 20
a, b         #정수를 저장할 떄와 리스트를 저장할 때가 다름???

(10, 20)

In [ ]:
#list와 같이 colection data는 주소값을 저장한다.
# 이러한 문제를 방지하기 위해서는 COPY사용

### COPY

In [280]:
list1= list(range(5))
list1       #copy : 주소가 아니라 실제 값을 복사

[0, 1, 2, 3, 4]

In [282]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [286]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [287]:
list1

[0, 1, 2, 3, 4]

In [288]:
list1 = [ 
        [1,2,3], [4,5,6], [7,8,9]
]

In [291]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [293]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [295]:
list1
# copy함수를 사용했는데, 값이 연동되어 바뀐 이유 
# 2차원 이상의 리스트는 copy.deepcopy()를 이용해서 복사

list1 = [
    [1,2,3],[4,5,6],[7,8,9]
]

In [296]:
import copy

In [298]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [301]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [302]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Dictionary

In [303]:
a = {}
type(a)

dict

In [304]:
a = dict()
type(a)

dict

In [308]:
profile = {
    'name' : '김주희',
    'city' : 'Seoul',
    'height' : 172
}  #순서는 상관없음
# key : value
#접근할 때는 키값으로 접근
#인덱스로 접근하는것은 리스트

In [309]:
profile['name']

'김주희'

In [312]:
profile = dict(
    name = '김주희',
    city = 'Seoul',
    height = 172,
    friends = ['minsoo','yeonghee', 'judy'])   #리스트안에 딕셔너리, 딕셔너리안에 리스트가 들어가도 됨.
profile

{'name': '김주희',
 'city': 'Seoul',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy']}

In [313]:
#디셔너리에서는 key가 중심
#리스트에서는 value 중심

'김주희' in profile

False

In [315]:
'name' in profile

# 딕셔너리도 데이터를 복사하려면 copy함수 사용

True

## Dictionary 함수.

In [318]:
#리스트에서는 값을 추가하려면 apppend사용
# 딕셔녀리에서 값을 바꾸고 싶을 때

profile['name'] = '손기은'
profile

{'name': '손기은',
 'city': 'Seoul',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy']}

In [319]:
profile['name'] = '김주희'
profile

{'name': '김주희',
 'city': 'Seoul',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy']}

In [320]:
profile['city'] = 'busan'
profile

{'name': '김주희',
 'city': 'busan',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy']}

In [322]:
#키를 추가할 때는 그냥 써준다.

profile['math_score'] = 10
profile

{'name': '김주희',
 'city': 'busan',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy'],
 'math_score': 10}

In [324]:
profile.setdefault('english_score',100)
profile
#값이 있으면 바꾸지 않고, 값이 없으면 디폴트 값으로 해라

{'name': '김주희',
 'city': 'busan',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy'],
 'math_score': 10,
 'english_score': 100}

In [325]:
profile.setdefault('english_score',50)
profile         #key값이 이미 있기때문에 값이 바뀌지 않는다.

{'name': '김주희',
 'city': 'busan',
 'height': 172,
 'friends': ['minsoo', 'yeonghee', 'judy'],
 'math_score': 10,
 'english_score': 100}

In [326]:
profile.update({
    'math_score' : 50,
    "height" : 170
}) 
profile    # 덮어씌움

{'name': '김주희',
 'city': 'busan',
 'height': 170,
 'friends': ['minsoo', 'yeonghee', 'judy'],
 'math_score': 50,
 'english_score': 100}

In [329]:
profile('comment')

TypeError: 'dict' object is not callable

In [327]:
profile.get('name')

'김주희'

In [331]:
print(profile.get('comment'))   #값이 없으면 None값으로 출력

None

In [332]:
profile.get('comment',[])   # comment값이 없으면 대괄호 출력

[]

KeyError: 170

In [339]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'english_score'])

In [340]:
profile.values()

dict_values(['김주희', 'busan', ['minsoo', 'yeonghee', 'judy'], 50, 100])

In [341]:
profile.clear()  #지우기
profile

{}

# Set

In [342]:
# 집합의 특징 : 요소간의 중복이없음 
# 중괄호사용 
# 중복을 제거하는 colection data 이다.

set1 = {1,2,3,3,3,3,3}
set1

{1, 2, 3}

In [343]:
list1 = {1,2,3,3,3,3,3}
list(set(list1))  #???

[1, 2, 3]

In [344]:
set1

{1, 2, 3}

In [384]:
set1 = {1,2,3}
set2 = {3,4,5}
set1, set2

({1, 2, 3}, {3, 4, 5})

## 집합 연산자 & 함수

In [385]:
set1 | set2  #합집합

{1, 2, 3, 4, 5}

In [386]:
set.intersection(set1,set2)# 중복되는 수

{3}

In [387]:
set1 - set2

{1, 2}

In [388]:
set.difference(set1, set2)  #차집합

{1, 2}

In [389]:
set1^set2

{1, 2, 4, 5}

In [390]:
set.symmetric_difference(set1,set2)  #대칭차집합

{1, 2, 4, 5}

In [391]:
# 부분집합,상위집합 

{1} <= set1
set1 <= set2 #1이 set1의 부분집합이다.

False

In [392]:
set1.issubset(set2)   # issubsub() 
{1}.issubset(set1)

True

In [393]:
{1,2,3} .isdisjoint({3,4,5}) # 겹치는 요소가 있으면 False
                             # 겹치는 요소가 없느면 True

False

In [394]:
set1

{1, 2, 3}

In [373]:
set1.add(4)
set1

{1, 2, 3, 4}

In [374]:
set1.add(4)
set1

{1, 2, 3, 4}

# Bool 형변환

In [375]:
bool(0), bool(1)

(False, True)

In [376]:
bool(0.0), bool(0.2)   #값이 있으면 True, 값이 없으면 False

(False, True)

In [377]:
bool('Hello')

True

In [378]:
bool("  ")  #공백도 True

True

In [379]:
bool([1]), bool([])  #빈 리스트는 False, 리스트 값이 하나라도 있으면  True

(True, False)

In [383]:
bool({}), . bool({'name':'hi'})

SyntaxError: invalid syntax (<ipython-input-383-22f53111ddfe>, line 1)