In [1]:
import numpy as np

In [3]:
ar = np.array([0,1,2,3,4,5,6,7,8,9])
ar

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
type(ar)

numpy.ndarray

-  파이썬은 연속적인 메모리 배치가 불가
-  numpy를 사용
-  벡터화연산을 지원

## 2차원 배열 만들기

In [7]:
c = np.array([[0,1,2],[3,4,5]]) # 2 x 3 arrary
c

array([[0, 1, 2],
       [3, 4, 5]])

In [9]:
# 행의개수
len(c)

2

In [11]:
# 열의 개수
len(c[0])

3

In [14]:
d = np.array([[10,20,30,40],
              [50,60,70,80]])
d

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

## 3차원 배열 만들기
array의 shape를 아는 것이 가장 중요

-  2 x 3 x 4
-  3 x 4 배열의 행렬이 2개

In [17]:
a = np.array([1,2,3])
print(a.ndim)  #1차원
print(a.shape)

1
(3,)

##  다차원 배열의 인덱싱

In [20]:
d[0,0]  #첫번째 행의 첫번째 열

10

In [19]:
d[-1,-1] # 마지막 행의 마지막 열

80

## 슬라이싱

In [22]:
a = np.array([[0,1,2,3],
             [4,5,6,7]])
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [27]:
a[0,:] # 전체 열중에서 1행 출력

array([0, 1, 2, 3])

In [26]:
a[:,1] #전체 행 중에서 2열 출력

array([1, 5])

In [28]:
a[1,1:] # 두번째 행에서 두번째열부터 끝까지 출력

array([5, 6, 7])

### 연습문제

In [30]:
m = np.array([[0,1,2,3,4],
             [5,6,7,8,9],
             [10,11,12,13,14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [34]:
m[1,2]

7

In [35]:
m[2,-1]

14

In [37]:
m[1,1:3]

array([6, 7])

In [46]:
a = np.arange(1,21)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [47]:
a[a % 3 ==0]

array([ 3,  6,  9, 12, 15, 18])

In [48]:
a[a % 4 ==1]

array([ 1,  5,  9, 13, 17])

In [50]:
a[(a % 3) + ((a - 1) % 4) == 0]

array([9])

In [52]:
a = np.arange(1,21,dtype='f')
a.dtype

dtype('float32')

In [62]:
a = np.arange(1,21,dtype='U')
a.dtype

ValueError: no fill-function for data-type.

 type이 안맞는 것끼리 연산을 하면 type error

### Inf와 Nan

In [ ]:
# 요소끼리 나누기

np.array([0,1,-1,0])/

In [54]:
np.log(0)

C:\ProgramData\Anaconda3\envs\test_envs\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

-inf

In [61]:
np.log(10)

2.302585092994046

In [58]:
np.exp(-np.inf)  #???????? nummpy에서는 inf가 하나의 숫자처럼 인식? 무한대니까 0

0.0

In [64]:
c = np.zeros((5,2),dtype='i')
c

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int32)

In [66]:
d = np.zeros(5,dtype='U4')
d   
#null값 들어가는걸로 활용할때

array(['', '', '', '', ''], dtype='<U4')

In [67]:
e = np.ones((2,3,4),dtype='i8')
e

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int64)

크기를 튜플로 명시하지 않고 다른 배열과 같은 크기의 배열을 생성하고 싶다면
zeros_like ones_like

배열하나에 많은 데이터가 들어가면, 초기화를 시킬때 resource가 많이 필요함
resource를 절약하기 위해서 -> empty

In [69]:
g = np.empty((4,3))
g

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [71]:
np.arange(10,20,2)  #19까지

array([10, 12, 14, 16, 18])

-  linspace
-  logspace

In [74]:
np.linspace(0,100,11)   # 0부터 100까지 (100포함) 5개로 나눔 동일한 간격으로

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

In [76]:
np.logspace(0.1,1,10)   #10의 0.1승과 10의 1승의 사이를 n개(=10)의 점으로 나누어서 생성한다.

array([ 1.25892541,  1.58489319,  1.99526231,  2.51188643,  3.16227766,
        3.98107171,  5.01187234,  6.30957344,  7.94328235, 10.        ])

In [77]:
A = np.array([[1,2,3],[4,5,6]])

In [78]:
# 2 X 3
A

array([[1, 2, 3],
       [4, 5, 6]])

In [80]:
# 전치행렬 3 x 2
A.T

array([[1, 4],
       [2, 5],
       [3, 6]])

### reshape

In [82]:
a= np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [83]:
b=  a.reshape(3,4)

In [84]:
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [85]:
a.reshape(3,-1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [86]:
a.reshape(2,2,-1)  # 차원,행,열

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [87]:
a.reshape(2,-1,2)

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

flatten = ravel

In [88]:
a.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [91]:
a.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [94]:
x = np.arange(5)
x   #벡터

array([0, 1, 2, 3, 4])

In [97]:
x = x.reshape(1,5)
x    # 1행만 있는 행렬

array([[0, 1, 2, 3, 4]])

np.newaxis = 같은 배열에 대해 차원만 증가시키는

np.hstack
가로로 쌓기

np.vstack 세로로 쌓기

np.dstack([a1,a2])  똑같은 shpae의 행렬을 짝을 지은 것으로 새로 만듦

In [99]:
a = np.array([[0,1,2],
             [3,4,5]])
a

array([[0, 1, 2],
       [3, 4, 5]])

In [100]:
np.tile(a,2)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

In [102]:
# ??????????????
np.tile(a,(3,2))

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

In [103]:
x = np.arange(3)

In [104]:
y = np.arange(5)

In [ ]:
x,y = np.mashgrid???

### 벡터화 연산

In [105]:
x = np.arange(1,1001)
y = np.arange(1001,2001)

In [107]:
%%time 
#시간이 얼마나 걸리니??
z = np.zeros_like(x)
for i in range(1000):
    z[i] = x[i]+y[i]

Wall time: 997 µs

In [108]:
z

array([1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022,
       1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044,
       1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066,
       1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088,
       1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110,
       1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132,
       1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154,
       1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176,
       1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198,
       1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220,
       1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242,
       1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264,
       1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286,
       1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308,
       1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330,
       1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352,
       1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374,
       1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396,
       1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418,
       1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440,
       1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462,
       1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484,
       1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506,
       1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528,
       1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550,
       1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572,
       1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594,
       1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616,
       1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638,
       1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660,
       1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682,
       1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704,
       1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726,
       1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748,
       1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770,
       1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792,
       1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814,
       1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836,
       1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858,
       1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880,
       1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902,
       1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924,
       1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946,
       1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968,
       1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034,
       2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056,
       2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078,
       2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100,
       2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122,
       2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144,
       2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166,
       2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188,
       2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210,
       2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232,
       2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254,
       2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276,
       2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298,
       2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320,
       2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342,
       2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364,
       2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386,
       2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408,
       2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430,
       2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452,
       2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474,
       2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496,
       2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518,
       2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540,
       2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562,
       2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584,
       2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606,
       2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628,
       2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650,
       2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672,
       2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694,
       2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716,
       2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738,
       2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760,
       2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782,
       2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804,
       2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826,
       2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848,
       2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870,
       2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892,
       2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914,
       2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936,
       2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958,
       2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980,
       2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000])

In [109]:
%%time
z = x+y

Wall time: 0 ns

In [110]:
z

array([1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022,
       1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044,
       1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066,
       1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088,
       1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110,
       1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132,
       1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154,
       1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176,
       1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198,
       1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220,
       1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242,
       1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264,
       1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286,
       1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308,
       1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330,
       1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352,
       1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374,
       1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396,
       1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418,
       1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440,
       1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462,
       1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484,
       1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506,
       1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528,
       1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550,
       1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572,
       1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594,
       1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616,
       1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638,
       1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660,
       1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682,
       1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704,
       1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726,
       1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748,
       1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770,
       1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792,
       1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814,
       1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836,
       1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858,
       1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880,
       1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902,
       1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924,
       1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946,
       1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968,
       1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034,
       2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056,
       2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078,
       2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100,
       2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122,
       2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144,
       2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166,
       2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188,
       2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210,
       2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232,
       2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254,
       2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276,
       2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298,
       2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320,
       2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342,
       2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364,
       2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386,
       2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408,
       2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430,
       2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452,
       2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474,
       2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496,
       2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518,
       2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540,
       2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562,
       2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584,
       2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606,
       2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628,
       2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650,
       2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672,
       2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694,
       2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716,
       2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738,
       2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760,
       2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782,
       2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804,
       2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826,
       2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848,
       2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870,
       2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892,
       2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914,
       2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936,
       2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958,
       2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980,
       2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000])

### 브로드캐스팅

### 행렬곱(Numpy dot)

In [111]:
x = np.array([[1,2,3],
            [4,5,6]])
y = np.array([[10,100,1000],
            [10000,100000,1000000]])

In [114]:
z = x * y
z
# 행렬곱이 아닌 각 자리에 위치한 것끼리 곱해짐

array([[     10,     200,    3000],
       [  40000,  500000, 6000000]])

In [118]:
# 행렬곱을 하고 싶으면 Numpy.dot
np.dot(x,y.T)
# == np.matmul

array([[   3210, 3210000],
       [   6540, 6540000]])

In [117]:
x.dot(y.T)

array([[   3210, 3210000],
       [   6540, 6540000]])

In [ ]:
# 행렬곱의 차원을 맞추는 것이 중요하다.

In [119]:
np.sum(x)

21

In [120]:
x.sum()

21

In [122]:
x.min()

1

최소값의 위치

In [123]:
x.argmin()

0

In [124]:
x.mean()

3.5

In [125]:
np.mean(x)

3.5

In [126]:
np.median(x)

3.5

-  np.sort(x)
-  axis= -1과 axis=1과 동일하다 
-  axis = 1이면 행방향 정렬
-  axis = 0이면 열방향 정렬
- sort는 본 객체까지 바꿔버림
-  argsort는 자기자신이 안바뀜. 인덱스를 sort??? 인덱스를 return하니까

### csv파일 읽기

파일 위치 지정안하면 c드라이브 user

In [ ]:
a = np.loadtxt('       .csv',delicator= ',')  #불러오기

In [ ]:
np.savetxt('위치~~~/x1.txt'x1)    #저장