### 시리즈 클래스
- pandas에서 시리즈
- 데이터프레임에서는 행렬
- numpy에서는 벡터

- pandas에서는 index를 붙일 수 있다.

In [4]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-1.1.0-cp37-cp37m-win_amd64.whl (9.4 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\envs\tf_v1\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\programdata\anaconda3\envs\tf_v1\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\tf_v1\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.0 pytz-2020.1

In [5]:

s = pd.Series([9904312, 34487337, 2890451, 2466052], ####  numpy는 np.array
             index = ['서울','부산','인천','대구'])

s

서울     9904312
부산    34487337
인천     2890451
대구     2466052
dtype: int64

In [6]:
s.ndim     ###### s는 1차원

1

In [7]:
pd.Series(range(10, 14))     ####       np.arange(10,14)

0    10
1    11
2    12
3    13
dtype: int64

In [8]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [9]:
s.values

array([ 9904312, 34487337,  2890451,  2466052], dtype=int64)

pandas는 numpy 기반

In [11]:
type(s.values)

numpy.ndarray

In [14]:
s.name = '인구'    #  데이터 베이스로서의 인덱스
s.index.name = '도시'   #    인덱스의 인덱스

s

도시
서울     9904312
부산    34487337
인천     2890451
대구     2466052
Name: 인구, dtype: int64

In [16]:
s / 1000000          #         numpy의 scalar와 동일

도시
서울     9.904312
부산    34.487337
인천     2.890451
대구     2.466052
Name: 인구, dtype: float64

In [17]:
s[1], s['부산']

(34487337, 34487337)

In [18]:
s[3], s['대구']

(2466052, 2466052)

배열 인덱싱을 하면 자료의 순서를 바꾸거나 특정한 자료만 선택할 수 있다.

In [20]:
s[[0,3,1]]       # 0번째, 3번째, 1번쨰 데이터 가져오기

도시
서울     9904312
대구     2466052
부산    34487337
Name: 인구, dtype: int64

In [21]:
s[['서울', '대구', '부산']]

도시
서울     9904312
대구     2466052
부산    34487337
Name: 인구, dtype: int64

In [23]:
s[(250e4 < s) & (s < 500e4)]   #  데이터에 대한 조건을 주고 query?? 할 수 있음

도시
인천    2890451
Name: 인구, dtype: int64

In [24]:
s[1:3]

도시
부산    34487337
인천     2890451
Name: 인구, dtype: int64

In [25]:
# 문자로 인덱싱할 떄는 마지막 인덱스를 포함한다.
s['부산':'대구']

도시
부산    34487337
인천     2890451
대구     2466052
Name: 인구, dtype: int64

In [26]:
s0 = pd.Series(range(3), index = ['a','b','c'])
s0

a    0
b    1
c    2
dtype: int64

키 값으로 value값 가져오기

In [27]:
s0.a

0

In [28]:
s0['a']

0

### 데이터프레임 : 시리즈와 딕셔너리 자료형

In [29]:
'서울' in s

True

In [30]:
'대전' in s

False

In [31]:
s.items

<bound method Series.items of 도시
서울     9904312
부산    34487337
인천     2890451
대구     2466052
Name: 인구, dtype: int64>

### 인덱스 기반 연산

In [ ]:
del rs['서울']

### 데이터프레임

In [ ]:
data = {
    '2014': [a,s,d,f,f,g],
    .
    .
    .
    .
    
}

columns = ['ddd','sss'],...
index = ['ss','fg']

df = pd.DataFrame(data,index=index, columns = columns)

df

In [ ]:
df.values     ####  결과 값은 numpy array

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
### 열방향 인덱스, 행방향 인덱스 이름 붙이기

df.index.name = '도시'
df.columns.name = '특성'
df.name = '도시별 인구'

df

### 열데이터 갱신 추가 삭제

In [ ]:
df['2015'] = df['2015'] * 100

In [ ]:
del['2015']  ### 열 지우기

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(3,4))

In [ ]:
df[2]   ###  열로 인덱싱함

In [ ]:
np.array[:,2]    ### numpy에서 열 인덱싱 하는 법

In [ ]:
df[1,2]   ### 1열 2열 슬라이싱

In [ ]:
np.array[:,1:3]

In [ ]:
df[2:]  ### 행 인덱싱, 범위로 인덱싱 (정수의 슬라이싱 => 행 인덱싱)

In [ ]:
df[1:2]  ###  1번 행 가지고 오기
df[1]    ### 1번 열 가지고 오기

In [ ]:
df['2015']['서울']